---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hero-microservice
  labels:
    app: hero-microservice
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: hero-microservice
  template:
    metadata:
      labels:
        app: hero-microservice
    spec:
      containers:
      - name: hero-microservice
        image: workshop/hero-microservice:latest
        ports:
        - name: http
          containerPort: 8080
        imagePullPolicy: IfNotPresent
        env:
          - name: QUARKUS_DATASOURCE_URL
            valueFrom:
              configMapKeyRef:
                name: hero-config
                key: database
          - name: QUARKUS_DATASOURCE_USERNAME
            valueFrom:
              secretKeyRef:
                name: hero-database-secret
                key: username
          - name: QUARKUS_DATASOURCE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: hero-database-secret
                key: password
        #livenessProbe:
        #  failureThreshold: 1
        #  httpGet:
        #    path: /q/health/live
        #    port: 8080
        #    scheme: HTTP
        #  initialDelaySeconds: 0
        #  periodSeconds: 5
        #  successThreshold: 1
        #  timeoutSeconds: 2
        #readinessProbe:
        #  failureThreshold: 3
        #  httpGet:
        #    path: /q/health/ready
        #    port: 8080
        #    scheme: HTTP
        #  initialDelaySeconds: 0
        #  periodSeconds: 30
        #  successThreshold: 1
        #  timeoutSeconds: 10
